/* Check */
  @font-face {
        font-family: "myfont"; /* Choose a name for your font */
        src: url("fonts/Overpass-VariableFont_wght.ttf") format("truetype"); /* Adjust the path and filename */
         font-weight: normal; 
       
    }
    @font-face {
      
        font-family: "Norse";
      src: url("fonts/Norse-Bold.otf") format("opentype");
        font-weight: normal; 
       
    }
:root{
font-size: 18px;
    }
body{
font-family: 'myfont';
}
.container{
        display: flex;
}
h1{
color: green;
}
button{
 color: white;
background-color:rgb(53, 134, 255);
padding: 8px 30px 8px 30px;
border-radius: 5px;
border: none;
}
a {
 color: rgb(69, 69, 69);
}
.paragraph{
        padding: 20px;
        margin: 10px;
        font-weight: bold;
        
}
.para2{
        font-style: italic;
        
}
#lets-do{
        font-size: 1rem;
        font-weight: bold;
}

/* Form */
input{
        display: block;
         border-radius: 5px;
}
form {
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); 
       border-bottom:0.1px solid rgba(156, 151, 151,0.6) ;
       padding: 8px;

}
.form-container{
         padding: 10px;  
          margin: 10px;  
        font-size: 0.6em;
}

.input-container{
  display: flex;  
   gap: 50px;
font-size: 0.5rem;   
     
   
}
label{
        margin: 15px;
        
}
/* account creation part */
.account{
        margin: 20px 20px 20px 40px;
        font-size: 0.8rem;
}

#create-acct{
        font-size: 0.8rem;
        font-weight: bold;
}
#login{
color: rgb(53, 134, 255);
text-decoration: none;
 font-weight: bold;
}

/* Form Validation */
input:focus{
 border: 1px solid blue !important;
 outline: none;
}

input:invalid{
        border: 1px solid red;
}
input:valid{
        border: 1px solid green;
}

/* Image part */
.main-img{
display: block;
width: 500px;  
height: 700px; 
object-fit: cover;
}

.picture-container{
        position: relative;
        display: inline-block;
}
.overlay-img{
        
        
        width: 100px;
        height: 100px;
        object-fit: contain;
}
.logo-banner{
         position: absolute;
        display: flex;
        bottom:500px;
        /* right: 18px; */
        align-items: center;
        color: aliceblue;
        background-color:rgba(0, 0, 0, 0.4);
        width: 100%;
        justify-content: center;
        font-family: 'Norse';
}
.odin{
        font-size: 3.5rem;
}
#credit{
        color: rgb(69, 69, 69);
        position: absolute;
        display: flex;
        bottom: 10px;
        justify-content: center;
        align-items: center;
        width: 100%;

}

